body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(163, 196, 194);
  font-size: 16px;
}

div {
  padding-right: 10px;
  border: 1px;

}

input {
  width: 100%;
}

.nuevo {
  margin-top: 10px;
  font-size: 18px;
  padding: 10px;
  nav-down: auto;
  background-color: #246355;
  color: white;
}

button{
  cursor: pointer;
}
.table-action {
  gap: 10px;
  display: flex;
  justify-content: flex-end;
}

.edit {
  font-size: 17px;
  background: #62b9d9;
  margin: 0;
  padding: 3.5px;
  display: lex;
  align-items: baseline;
  justify-content: flex-end;
}

.delete {
  font-size: 17px;
  background: #d1462f;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}


table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  background: white;
}

th,
td {
  padding: 10px;
}

thead {
  font-weight: 300;
  background-color: #246355;
  color: white;
}

tr:nth-child(even) {
  background-color: #ddd;
}