body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  margin: 20px;
}

div {
  padding-right: 10px;
  border: 1px;

}

input {
  width: 50%;
  margin-top: 10px;
  display: flex;
  margin: 5px;
  padding: 8px;
}


h3 {
  margin-top: 0;
}

button{
  
  cursor: pointer;
}

/* header */
.link{
  padding: 5px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  border: 1px solid;
  border-radius: 5px;
  margin: 5px;
}

.link:hover{
 background-color: black;
 color: white;
}

/* DetailsPage */

.product-detail{
  padding: 20px;
}

/* Edit */

.input-search{
  display: flex;
  margin: 0px;
  padding-bottom: 10px;
  gap: 10px;
}

.serch{
  border-radius: 5px;
}

.search:hover{
  color: white;
  background-color: black;
}

.update-product{
  display: flex;
  gap: 10px;
}

/* ProductTable */

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  background: white;
}

th,
td {
  padding: 10px;
}

thead {
  font-weight: 300;
  background-color: black;
  color: white;
}

tr:nth-child(even) {
  background-color: #ddd;
}

.table-action {
  gap: 10px;
  display: flex;
  justify-content: flex-end;
}

.delete {
  font-size: 17px;
  padding: 5px;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  border: 1px solid;
  border-radius: 5px;
  color: black;
}

.detail{
  font-size: 17px;
  padding: 5px;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  text-decoration: none;
  border: 1px solid;
  border-radius: 5px;
  color: black;
}

.edit {
  font-size: 17px;
  padding: 5px;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  text-decoration: none;
  border: 1px solid;
  border-radius: 5px;
  color: black;
}

.detail:hover{
  color: white;
  background-color: black;
}

.edit:hover{
  color: white;
  background-color: black;
}

.delete:hover{
  color: white;
  background-color: black;
}

/* EditProductForm */

.edit-form{
   margin: 20px;
}

.nuevo {
  margin-top: 10px;
  font-size: 18px;
  padding: 5px;
  nav-down: auto;
  color: black;
  position: relative;
  border-radius: 5px;
}

.nuevo:hover{
 background-color: black;
 color: white;
}