body{
  background-color: rgb(163, 196, 194);
  cursor: pointer;
}

div{
  padding-right: 10px;
  border: 1px;
  
}

input{
  width: 100%;
}

.nuevo{
  nav-down: auto;
  background-color: rgb(33, 243, 33);
}

.edit{
    background: rgb(245, 5, 5); 
    margin: 0;
    padding: 3.5px;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.editar{
    background: rgb(115, 168, 236);
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}


table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    background: white;
}

th, td{
  padding: 20px;
  border: solid 1px black;
}

thead{
  background-color: #246355;
  border-bottom: solid 5px #0F362D;
  color: white;
}

tr:nth-child(even){
  background-color: #ddd;
}

